<!DOCTYPE html>
<html lang="en" ng-app="standBuilding">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.6/fabric.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngDraggable/0.1.11/ngDraggable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.5.2/angular-local-storage.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">

    <script src="all.js"></script>
    <script src="/app.js"></script>
    <title>Система построения сенда</title>
</head>
<body ng-controller="mainCtrl">
<div class=" container-fluid main_board">

    <div class="row" style="text-align: center">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <h2>Stend Construction DEMO</h2>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Панель управления стендом</div>
                <div class="panel-body">
                    <div class="btn-group ">
                        <button class="btn btn-primary" ng-click="newStand()" ng-disabled="isLoaded">Новый</button>
                        <button class="btn btn-primary" ng-click="loadFromStore()">Загрузить</button>
                        <button class="btn btn-primary" ng-click="saveToStore()" ng-disabled="isNewStand || !isLoaded">Сохранить</button>
                        <button class="btn btn-primary" ng-click="clearCanvas()" ng-disabled="!isLoaded">Очистить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
            <div class="panel panel-default" ng-if="isLoaded">
                <div class="panel-heading">Панель управления холстом</div>
                <div class="panel-body">
                    <img class="holst-button" src="../img/interface/rotate-left.png" ng-click="rotateToLeft()">
                    <img class="holst-button" src="../img/interface/rotate-right.png" ng-click="rotateToRight()">

                    <div style="display: inline-block">
                        <img class="holst-button" src="../img/interface/zoom-out.png" ng-click="setZoom(data.zoomrange-0.1)">
                    </div>
                    <div style="display: inline-block">
                        <input type='range' step='.1' max='2' min='0' ng-model="data.zoomrange"  ng-change="setZoom(data.zoomrange)">
                    </div>
                    <div style="display: inline-block">
                        <img class="holst-button" src="../img/interface/zoom-in.png"  ng-click="setZoom(data.zoomrange+0.1)">
                    </div>
                    <button class="btn btn-primary" ng-click="resetZoom()">По умолчанию</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
            <div class="panel panel-default" ng-if="isLoaded">
                <div class="panel-heading">Панель отчетов</div>
                <div class="panel-body">
                    <button class="btn btn-primary" ng-click="viewReport()">Посмотреть стенд</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
            <div class="panel panel-default" ng-show="isNewStand">
                <div class="panel-body">
                    <div>
                        Размеры стенда
                        <form class="form-inline">
                            <div class="form-group">
                                <input style="width: 80px;" type="number" min="1" max="20" step="1" ng-model="newStand.hgt" class="form-control"
                                       id="length">
                            </div>
                            X
                            <div class="form-group">
                                <input style="width: 80px;" type="number"  min="1" max="20" step="1" ng-model="newStand.wdt" class="form-control"
                                       id="width">
                            </div>
                            Метров
                        </form>
                    </div>
                    <div>
                        <div class="radio">
                            <img src="../img/interface/1.png">
                            <label><input type="radio" ng-model="newStand.type" value="1"
                                          name="optradio">Линейный</label>
                        </div>
                        <div class="radio">
                            <img src="../img/interface/2.png">
                            <label><input type="radio" ng-model="newStand.type" value="2"
                                          name="optradio">Угловой</label>
                        </div>
                        <div class="radio">
                            <img src="../img/interface/3.png">
                            <label><input type="radio" ng-model="newStand.type" value="3" name="optradio">Открытый с
                                трех сторон</label>
                        </div>
                        <div class="radio">
                            <img src="../img/interface/4.png">
                            <label><input type="radio" ng-model="newStand.type" value="4" name="optradio">Остров</label>
                        </div>
                    </div>


                    <button class="btn btn-success" ng-disabled="checkStandParams()" ng-click="newStandConfirm()">
                        Создать
                    </button>
                    <button class="btn btn-danger" ng-click="newStandCancel()">Отменить</button>
                </div>
            </div>
            <div class="panel panel-default" ng-if="isLoaded">
                <div class="panel-heading">Список обьектов</div>

                <div class="panel panel-default item">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="search">Поиск:</label>
                            <input type="text" class="form-control" id="search" ng-model="search">
                        </div>
                    </div>
                </div>
                <div class="panel-body item-box">
                    <div class="panel panel-default item" ng-repeat="item in items | itemFilter:this" ng-drag="true"
                         ng-drag-data="{item}" data-allow-transform="false">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <a>
                                        <img class="media-object item-image" ng-src="{{item.image}}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body item-block">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 ">
                                        <h4 class="media-heading">{{item.name}}</h4>
                                        {{item.category}}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 price-block">
                                        {{item.price}} &#8364
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" ng-show="isLoaded">
            <div class="panel panel-default" id="canvaspanel">
                <div class="panel-body" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
                    <div style="width:{{startPosition.width}}px; height:{{startPosition.height}}px; overflow:auto;">
                        <canvas id="c"></canvas>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
            <div class="panel panel-default" ng-show="isObjectSelected">
                <div class="panel-heading"> Свойства обьекта</div>
                <div class="panel-body">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 detail-name">
                        <h4>{{selectedItem.name}}</h4>
                        <div>
                            {{selectedItem.category}}
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 ">
                        <img class="item-image" ng-src="{{selectedItem.image}}">
                    </div>
                    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 detail-coord">
                        <div>
                            Координато по X {{selectedItem.left | number : 0}}
                        </div>
                        <div>
                            Координато по  Y {{selectedItem.top | number : 0}}
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                        Стоимоть одной еденицы {{selectedItem.price}} &#8364
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 detail-comment">
                       <textarea class="boxsizingBorder" ng-model="selectedItem.comment"></textarea>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                        <button class="btn btn-danger pull-left" ng-click="removeObject()"> Удалить </button>
                        <button class="btn btn-success pull-right" ng-click="saveObjectComment(selectedItem.comment)"> Применить </button>
                    </div>

                </div>
            </div>
            <div class="panel panel-default item-box2" ng-if="isLoaded">
                <div class="panel-heading"> Список выбраных обьекта</div>
                <div class="panel-body">
                    <div ng-if="(selectedItemsList.length == 0)">
                        Ничего не выбрано
                    </div>
                    <div class="panel panel-default item" ng-repeat="item in selectedItemsList">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <a>
                                        <img class="media-object item-image" ng-src="{{item.image}}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body item-block">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                                        <h4 class="media-heading">{{item.name}}</h4>
                                        {{item.category}}
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 summ-block">
                                        <div>
                                            {{item.count || 0}} х {{item.price}}
                                        </div>
                                        <div style="padding-top: 20px; font-weight: 800;">
                                            Итого
                                        </div>
                                        <div style="font-weight: 800;">
                                            {{item.total}} &#8364
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="isLoaded">
                Всего за дополнительное оборудование <span style="font-weight: 800;">{{selecdesSumm}} &#8364 </span>
            </div>
        </div>


    </div>
</div>
</body>
</html>